* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-text-container h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
    width: 708px;
}

.header-text-container p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    width: 634px;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: white;
}

.primary {
    color: #E55473;
}

.header-img {
    margin-rgb(58, 56, 56)50px;
    height: 800px;

}

/* hot deals section starts */
.hot-deals-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 100px;
}

.hot-deal-offer-msg {
    text-align: center;
}

.hot-deal-offer-msg h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hot-deal-offer-msg p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 594px;
    margin-bottom: 32px;
}

.hot-deal-img {
    height: 420px;
}



/* Middle Section starts */
.middle-section {
    margin-top: 128px;
    text-align: center;
}

.middle-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.middle-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 594px;
    margin: auto;
}

/* Four images section starts */
.four-images-section {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* Subscription section starts */
.subscription-section {
    text-align: center;
    margin: auto;
    background-image: url('../Flower-Asset/Rectangle9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 121px;
    margin-bottom: 128px;
    width: 65%;
}

.subscription-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.subscription-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.subscription-section input[type="text"] {
    width: 700px;
    height: 60px;
    padding-left: 22px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;

}

/* Footer section starts */
.footer-section {
    background: #111010;
    text-align: center;
    padding: 128px 231px;
}

.footer-section h3 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-bottom: 24px;
}

.footer-section p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    max-width: 625px;
    margin: auto;
    margin-bottom: 32px;
}

.copyright-message {

    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}